@use '../scss/abstracts';
@use '../scss/components';

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Nunito', sans-serif;
	background-color: abstracts.$dark !important;
	color: abstracts.$white;
	position: relative;
}

.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.navbar {
	background: abstracts.$yellow;
	font-size: 1.6rem;
	padding: 1.2rem !important;

	.custom-toggler {
		border: 1px solid abstracts.$darkest;

		[aria-expanded='true'] & {
			border: 1px solid abstracts.$darkest;
		}

		&:focus {
			outline: none;
			box-shadow: none;
		}

		.navbar-toggler-icon {
			background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
		}
	}

	.navbar-nav {
		gap: 2rem;
	}

	.navbar-collapse {
		justify-content: end;
	}

	a {
		&.active {
			color: abstracts.$light-grey !important;
		}

		color: abstracts.$darkest !important;
		font-weight: 500;
		transition: color 0.3s ease-in-out;

		&:hover {
			color: abstracts.$light-grey !important;
		}
	}
}

.navbar-brand {
	font-size: 1.6rem !important;
}

.main {
	padding: 1.95rem;
}

.row {
	margin: 0 !important;
}

p {
	margin-bottom: 0 !important;
}

.section-box {
	background-color: abstracts.$darkest;
	color: abstracts.$white;
	white-space: nowrap;
	border-radius: 6px;
	padding: 1.5rem 2.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 1rem;
}

@media screen and (min-width: 992px) {
	.navbar-expand-lg {
		position: sticky !important;
		top: 0 !important;
		z-index: 100000;
	}
}
