@use '../abstracts';

.form {
	margin: 0 auto;
	width: 100%;
	border-radius: 6px;
	padding: 2rem;
	background-color: abstracts.$darkest;
	color: abstracts.$white;
	display: flex;
	flex-direction: column;
	gap: 1.6rem;

	.input-box {
		background-color: abstracts.$dark;
	}

	.input-container {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		&--checkbox {
			flex-direction: row;
			align-items: center;
		}

		label {
			color: abstracts.$white;
			font-size: 1.4rem;
			font-weight: 500;
		}
	}
}
