@use '../abstracts';

.input-box {
    border-radius: 4px;
    padding: .8rem .5rem;
    background-color: abstracts.$darkest;
    border: 1px solid transparent;
    color: abstracts.$white;
    transition: all .3s ease-in-out;
    height: 100%;
    font-size: 1.2rem;

    &::placeholder {
        color: abstracts.$white;
    }

    &:hover, &:focus {
        border-color: abstracts.$yellow;
    }

    &:focus {
        outline: none;
    }
}