@use '../abstracts';

.section {
	&__popular-bungalows {
		overflow: hidden;
		position: relative;
	}
}

.popular-bungalows {
	.bungalow {
		position: relative;
	}

	.bungalow-img {
		position: relative;
		border-radius: 6px;

		&::after {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			border-radius: 6px;
			background-color: rgba(0, 0, 0, 0.5);
		}

		img {
			border-radius: 6px;
			height: 100%;
			width: 100%;
			-o-object-fit: cover;
			object-fit: cover;
			aspect-ratio: 1/1;
		}
	}

	.bungalow-info {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		align-items: start;
		position: absolute;
		bottom: 4rem;
		left: 4rem;

		p {
			text-transform: uppercase;
			font-weight: 600;
			font-size: 1.3rem;
			color: white;
		}

		.reservation-status {
			padding: 0.9rem 1.3rem;
			border-radius: 50px;
			display: inline-block;
			text-align: center;
			width: auto;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			align-items: center;
			justify-content: center;

			p {
				text-transform: uppercase;
				font-weight: 600;
				font-size: 1.2rem;
				color: #fff !important;
			}

			&--available {
				background-color: abstracts.$green;
			}

			&--booked {
				background-color: #fd7575;
			}
		}
	}
}

.slick-prev,
.slick-next {
	z-index: 10;
}

.slick-prev {
	left: 1rem !important;
}

.slick-next {
	right: 1rem !important;
}

.slick-slide {
	margin: 0 1rem !important;
}

.slick-list {
	margin: 0 -1rem !important;
}

.slick-prev:before,
.slick-next:before {
	color: abstracts.$white !important;
}

.slick-dots {
	position: unset;
}

.slick-slider {
	overflow: hidden;
}

.slick-dots {
	position: unset !important;
	margin-top: 2rem !important;

	li {
		button {
			&::before {
				color: #ffe797 !important;
			}
		}
	}
}
