$white: #ffff;
$blue-light: #f0f6ff;
$blue: #7aa2e3;
$blue-dark: #091f42;
$grey: #d9d9d9;
$grey-middle: #b7b7b7;

$green: #4bf847;

$yellow: #ffe797;
$yellow-light: #fff8e0;
$light-grey: #a7a7a7;
$dark: #1e1e1e;
$darkest: #121212;
$grey: #818181;
